extends layout

block content
  h1= title
  p Welcome to #{title}
   if user
      h2 Hello
      p #{user.name}
      p #{user.username}
      a(href="/logout",class="btn btn-link") Logout
   else 
      .row 
        .col-12 
          a(class="btn btn-link",href="/login") Login